* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fcf5e5;
  --primary: #212121;
  --primary-hover: #212121cc;

  --font-dm-mono: "DM Mono", monospace;
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
}

body,
main {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background);
}

header {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INNNER COMPONENTS */
.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  font-weight: 500;
}

.button--primary {
  height: 52px;
  color: var(--background);
  background-color: var(--primary);
  padding-inline: 32px;
  border-radius: 8px;
}
.button--primary:hover {
  background-color: var(--primary-hover);
}

.button__icon--primary {
  width: 12px;
  height: 12px;
}

.button--secondary {
  color: var(--primary-hover);
}
.button--secondary:hover {
  color: var(--primary);
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.images:hover, .images:focus-within {
  border: 2px solid #007bff;
}

.images:hover .image {
  outline: 2px dotted #007bff;
  border-radius: 0;
}

.image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.image img {
  width: 100%;
  height: auto;
  display: block;
}


  .favourite {
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

@media (max-width: 900px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .images {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}