* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fcf5e5;
  --primary: #212121;
  --primary-hover: #212121cc;

  --font-dm-mono: "DM Mono", monospace;
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
}

body,
main {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background);
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 20px;
  letter-spacing:4px;
}
header >img{
  width: 10px;
  height: 16px;
  margin-right: 0.3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INNNER COMPONENTS */
.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  font-weight: 500;
}

.button--primary {
  height: 52px;
  color: var(--background);
  background-color: var(--primary);
  padding-inline: 32px;
  border-radius: 8px;
}
.button--primary:hover {
  background-color: var(--primary-hover);
}

.button__icon--primary {
  width: 12px;
  height: 12px;
}

.button--secondary {
  color: var(--primary-hover);
}
.button--secondary:hover {
  color: var(--primary);
}
